@font-face {
  font-family: "iconfont"; /* Project id 4197567 */
  src: url('iconfont.woff2?t=1691134189839') format('woff2'),
       url('iconfont.woff?t=1691134189839') format('woff'),
       url('iconfont.ttf?t=1691134189839') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-07:before {
  content: "\e608";
}

.icon-waibiduihuan:before {
  content: "\e677";
}

.icon-ditu:before {
  content: "\e615";
}

.icon-wi-fi:before {
  content: "\e655";
}

.icon-dunpaibaoxianzhiliang_o:before {
  content: "\eb9f";
}

.icon-guangdongziyouhang:before {
  content: "\e71e";
}

.icon-meishi:before {
  content: "\e6da";
  font-size: 30px;
}

.icon-gouwu:before {
  content: "\e60e";
}

.icon-ditu1:before {
  content: "\e640";
}

.icon-ditu2:before {
  content: "\e68b";
  font-size: 30px;
}

.icon-lipinka:before {
  content: "\e60a";
}

.icon--cowboy-hat-face:before {
  content: "\e633";
}

.icon-gengduo:before {
  content: "\e6db";
}

.icon-zhoubianyou:before {
  content: "\f9a4";
  font-size: 30px;
}

.icon-jingdian:before {
  content: "\fdb5";
  font-size: 30px;
}

.icon-chihewanle:before {
  content: "\fe54";
  font-size: 30px;
}
